<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Nougat.mxep">
    <!-- 相机以及存储权限的配置 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme">
        <activity android:name=".activity.OrderDetailActivity"></activity>
        <activity android:name=".activity.DistribMainActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.MyMessageActivity" />
        <activity android:name=".activity.MyAddressActivity" />
        <activity android:name=".activity.DetectUpdateActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.RechargeActivity" />
        <activity android:name=".activity.OrderTypeActivity" />
        <activity android:name=".activity.PersonInfoActivity" />
        <activity android:name=".activity.DeploySentActivity" />
        <activity android:name=".activity.UserPaymentActivity" />
        <activity android:name=".activity.DeployPickActivity" />
        <activity android:name=".activity.PickExpActivity" />
        <activity android:name=".activity.SentExpActivity" />
        <activity android:name=".activity.UserMainActivity" />
        <activity android:name=".activity.DistribRegisterActivity" />
        <activity android:name=".activity.UserRegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.Nougat.mexp.activity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>